body {
  margin: 0;
  padding: 0;
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.overlay {
  width: 1920px;
  height: 1080px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: flex-end;
  position: relative;
}

.bottom {
  width: 100%;
  height: 150px;
  color: #243b53;
  margin-left: 950px;
  background-color: #d9e2ec;
  border-top-left-radius: 30px;
  box-shadow: -3px -3px 10px rgba(0, 0, 0, 0.2);
}

.bottom h1 {
  font-size: 2em;
  margin-left: 30px;
  margin-top: 20px;
}

.bottom h2 {
  font-size: 1.6em;
  margin-left: 30px;
}
